<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544818025616-ap7lfp8jojamhdl89f38q9sacolb2cqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544818025616-ap7lfp8jojamhdl89f38q9sacolb2cqg</string>
	<key>API_KEY</key>
	<string>AIzaSyCxk4c-Qoj7Y6KA9TRtI_yOLau0DmjuYJY</string>
	<key>GCM_SENDER_ID</key>
	<string>544818025616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denisdragan.PhotoSharingApp</string>
	<key>PROJECT_ID</key>
	<string>photosharingapp-93d1f</string>
	<key>STORAGE_BUCKET</key>
	<string>photosharingapp-93d1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544818025616:ios:b0cc1c4adf6e2eca8b3415</string>
</dict>
</plist>